:root {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background-color: #072b2c;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

button {
  font-size: 5rem;
  padding: 0;
  margin: 0;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  background-color: rgba(24, 35, 46, 0);
  color: rgb(255, 212, 171);
}

h1,
h2 {
  color: rgb(255, 232, 171);
  align-self: center;
}

h1 {
  font-size: 2.7rem;
}

.overlay {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgb(0, 7, 12));
}

.game-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7rem 0;
  height: 680px;
  width: 700px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  background-image: radial-gradient(rgb(29, 46, 54), rgb(8, 16, 24));
  border-radius: 48px;
}

.board-wrapper {
  justify-self: center;
  align-self: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-board > button {
  border: 2px solid rgb(223, 210, 190);
}

.game-board > button:nth-child(3n + 1),
.game-board > button:nth-child(3n + 2) {
  border-left: none;
}

.game-board > button:nth-child(3n + 3) {
  border-left: none;
  border-right: none;
}

.game-board > button:nth-child(-n + 3),
.game-board > button:nth-child(-n + 15) {
  border-bottom: none;
}

.game-board > button:nth-child(-n + 3) {
  border-top: none;
}

.game-status {
  visibility: hidden;
}

.winner-txt {
  text-align: center;
  margin: 12 0px;
  width: 700px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.game-btn {
  font-size: 1.2rem;
  height: 50px;
  width: 100px;
  border-radius: 6px;
  margin: 0 0 40px 0;
  box-shadow: rgba(0, 0, 0, 0.356) 0px 20px 30px -10px;
  background-image: linear-gradient(rgb(25, 46, 48), rgb(16, 23, 37));
}

#svg-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: -1;
}

#svg-container svg {
  width: 100%;
  height: 100%;
}

#noiseContainer {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
